/* --- 1. Font & Colors --- */
@font-face {
  font-family: "AriaVFGX";
  src: url("../fonts/AriaVFGX.ttf") format("truetype-variations");
  font-weight: 100 900;
}

:root {
  --color-bg: #f4f0e8;
  --color-dark: #222222;
  --color-medium: #7c7c7c;
}

[data-theme="dark"] {
  --color-bg: #1a1a1a;
  --color-dark: #f4f0e8;
  --color-medium: #a0a0a0;
}

/* --- 2. Layout --- */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  transition:
    background 0.5s,
    color 0.5s;
}

body {
  font-family: "AriaVFGX", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-dark);
}

.main-wrapper {
  max-width: 70%;
  margin: 0 auto;
  padding: 2rem 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-area {
  flex: 1;
}

/* --- 3. Floating Action Button (FAB) --- */
.fab-container {
  position: fixed;
  bottom: 4rem;
  left: 10rem; /* Floating on left side */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.fab-main {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  color: var(--color-bg);
  filter: invert(100%);
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.fab-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 1rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: 0.3s;
}

.fab-container.active .fab-options {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}

.fab-options button {
  width: 50px; /* کمی بزرگتر برای جا شدن متن */
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--color-dark); /* خط دور دکمه */
  background: transparent;
  color: var(--color-dark);
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fab-options button:hover {
  background: var(--color-dark);
  color: var(--color-bg);
}
/* --- 4. Content Styles --- */
.main-header {
  margin-bottom: 8rem;
  text-align: inherit;
}
.main-header h1 {
  font-size: 3rem;
  margin-bottom: -1rem;
  font-weight: 900;
}

.post-list ul {
  list-style: none;
  margin: 0;
}
[dir="rtl"] .post-list ul,
[dir="rtl"] .main-footer {
  padding-right: 4rem;
}
[dir="ltr"] .post-list ul,
[dir="ltr"] .main-footer {
  padding-left: 4rem;
}

.post-item {
  padding: 1rem 0;
  border-bottom: 0.5px solid var(--color-medium);
}
.post-item a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 1.5rem;
}

.main-footer {
  margin-top: 5rem;
  padding-bottom: 2rem;
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .main-wrapper {
    max-width: 95%;
  }
}

/* tailwindcss example classes:
sm:bg-red-500 
md:bg-blue-500 
lg:bg-green-500 */

/* githib
->netlify
->i18n
->tailwindcss 
->GSAP
*/
